.extraWeatherData {
  color: black;
  margin-left: 11px;
}
.weatherItem {
  display: flex;
  align-items: center;
}

.weatherItem > div {
  margin-left: 10px;
}
.weatherItem{
  color: #fff;
}
.weatherItem > div > p:first-child {
  margin-bottom: 5px;
}

.weatherItem > div > p:last-child {
  margin-top: 2px;
}