* {
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-columns: 300px 1fr;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  overflow: auto; 
}

.sticky-container {
  position: sticky;
  top: 0;
}

.bottom-container {
  margin-bottom: 20px;
  margin-top: auto;
  overflow: auto;
}

body {
  background-image: url('./assets/storm-clouds.jpg');  
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}