* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}
.App > .sidebar {
  grid-column: 1 / 2;
  overflow-y: auto; /* Optional: if your sidebar content is long */
}
.App > .content-container {
  grid-column: 2 / 3;
  overflow-y: auto; /* Enable scrolling for content */
  display: flex;
  flex-direction: column;
}
.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('./assets/storm-clouds.jpg');  
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  z-index: -1;
  height: 100%;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.7));
  backdrop-filter: blur(10px);
  -webkit-mask-image: linear-gradient(to right, black 20%, transparent);
}

.App {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh; /* Make .App fill the viewport */
  overflow: auto; /* Enable scrolling within .App */
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.bottom-container {
  margin-bottom: 25px;
  margin-top: auto;
}
.temperature-graph-container {
  margin-bottom: 10px;
}
